<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do lists</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>

                    <form method="post" action="{% block form_action %} {% endblock %}">
                            
                        {% csrf_token %}
                        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        
            {% block table %}
            
            {% endblock %}
            
        </div>
    </div>
</body>
</html>